<%= provide(:title, "课程介绍") %>
<h2>Python 入门之路</h2>
3周
课前作业辅导
3周
初级项目实战
5周
中级项目实战
3周
职业课（选修）

<%= link_to "开始学习!", signup_path, class: "btn btn-lg btn-primary" %>

第一阶段  Python基础
可掌握的核心能力1、掌握Python基础语法，具备基础的编程能力；
2、建立起编程思维以及面向对象程序设计思想。
解决的现实问题：能够熟练使用Python技术完成针对小问题的程序编写。

第二阶段  Web基础开发
1、能够熟练使用Linux操作系统；
2、掌握网络编程相关技术，能够实现网络间数据通信；
3、掌握程序设计开发中多任务实现方式；
4、能够熟练掌握MySQL操作相关技术，熟练编写各种数据库操作SQL语句，并能够进行Python与MySQL之间的数据交互；
5、掌握Python中的re模块的使用，能够实现对字符串进行复杂模式匹配；
6、掌握Web服务器的工作流程，以及Web框架的实现原理。
解决的现实问题：能够使用面向对象的程序设计方法, 基于Linux操作系统开发多任务的网络程序开发。

第三阶段   Web-Django框架与项目
可掌握的核心能力1、掌握Python Web主流框架-Django的使用；
2、可根据Web框架设计，开发对应的数据库；
3、可根据业务流程图，开发Web网站的前后台业务。
解决的现实问题：
1、能够开发主流Web网站，并掌握常见的技术要点；
2、根据实际问题设计出相应数据库表。

第四阶段  Web-Flask框架与项目
1、掌握Python Web主流框架-Flask的使用；
2、掌握常见的性能优化技术；
3、缓存服务器的操作和设计；
4、异步任务的实现。
解决的现实问题：
1、高并发全功能的Web网站开发；
2、提升数据处理响应速度，灵活运用缓存。

第五阶段  人工智能机器学习编程
1、掌握数据挖掘基础工具使用；
2、掌握机器学习中处理数据方法；
3、理解常见机器学习算法原理。
解决的现实问题：
1、利用学习到的科学计算库对收集到的数据进行数据基本处理，使其符合机器学习算法模型；
2、利用学习到的机器学习算法解决部分实际问题。

第六阶段  人工智能机器学习编程
1、掌握推荐系统的工作原理和实现流程；
2、掌握推荐系统的算法实现原理以及应用场景；
3、掌握Lambda大数据相关基础；
4、可实现基于大数据框架的推荐系统搭建；
5、能够基于推荐业务流完成系统搭建。
解决的现实问题：
1、能够实现推荐系统的算法不同场景应用；
2、能够根据推荐场景业务流完成推荐业务开发。

<%= link_to "开始学习!", signup_path, class: "btn btn-lg btn-primary" %>