<%= provide(:title, "常见问题") %>
<h3>常见问题</h3>

<h3>如何购买 VIP ？</h3>
首页点击开始学习按钮，微信或支付宝扫码付费，付费后两小时内会有老师联系您，帮您开通付费课程。

<h3>学习这门课需要哪些基础？</h3>
我们本以为，具备以下背景的人会学得快许多（至少其一）：

<li>较好的英文水平</li>
<li>自己捣鼓过 HTML / CSS / JavaScript
<li>至少使用过一门编程语言（有基本能力即可）</li>
<li>良好的中文写作能力</li>
然而通过对线下课和线上课学员的观察，我们发现，90%的同学都是英文一般、编程零基础、没有中文写作能力，他们却一样能学得很好。

<h3>请问这个课需要怎么样的英文水平？</h3>
客观的说，编程世界常用的英文单词，只有200多个，所以，我们并不要求你是英文大牛。
同时，如果你具备以下程度，学习会顺利不少;如果不具备，在我们的学习过程中也可以慢慢培养出来：
<li>习惯使用 Google 查找资料，并能辨认找到的资讯是否有价值</li>
<li>可以快速地略读英文材料</li>

<h3>需要全职学习吗？</h3>
本课程为线上进行，你可以自行安排适合的学习时间，建议每天花 2 个小时进行学习。

<h3>需要准备什么东西？</h3>
一个外接屏幕（尺寸越大越好，在看代码的时候会方便很多）
一把好的机械式键盘（提高输入效率）
一个“可以接触墙外世界的网络帐号”（你懂的...）
好的网速（据学员反映，初学编程最大的挫折是下载安装环境太慢...）
Gmail 帐号