<!--<div class="center jumbotron">-->
<!--  <h1>暴力入门，成为下一个想要的自己</h1>-->
<!--  <h2>-->
<!--    Python 入门课，现已开放报名-->
<!--  </h2>-->
  <%#= link_to "开始学习!", signup_path, class: "btn btn-lg btn-primary" %>
  <%#= link_to "上期学员心得", signup_path %>
<!--</div>-->

<!--<h2>我们重新定义编程教育</h2>-->
<!--<p>有学以认知心理学为基石，打破过去传统刻板的编程学习、培训途径，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。</p>-->
<!--<h2>人人可学的在线教育平台</h2>-->
<!--<h3>万元课程免费学</h3>-->
<!--<p>有学致力于为提高学员的生产力，暴力入门任何新领域。</p>-->
<!--<h3>教材简明易懂</h3>-->
<!--<p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>-->
<!--<h3>业界大神倾心分享</h3>-->
<!--<p>大神与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>-->

<!--<div class="center jumbotron">-->
<!--  <h2>-->
<!--    Python 入门课，现已开放报名-->
<!--  </h2>-->
  <%#= link_to "开始学习!", signup_path, class: "btn btn-lg btn-primary" %>
  <%#= link_to "上期学员心得", signup_path %>
<!--</div>-->

<!-- MasterSlider -->
<div id="P_masterslider" class="master-slider-parent fs-slider ms-parent-id-39" style="height:650px;background-color:#444">
  <!-- MasterSlider Main -->
  <div id="masterslider" class="master-slider ms-skin-default">
    <div class="ms-overlay-layers">
      <img class="ms-layer msp-cn-121-23"
           src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif"
           data-src="sliders/master-slider/modern-sliders/Creativity/images/mouse-scroll-b-icon.png"
           alt=""
           style=""
           data-duration="512"
           data-ease="easeOutQuint"
           data-type="image"
           data-action="scrollToEnd"
           data-offset-x="0"
           data-offset-y="20"
           data-origin="bc"
           data-position="normal" />
      <img class="ms-layer ms-wheel-icon msp-cn-121-17"
           src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif"
           data-src="sliders/master-slider/modern-sliders/Creativity/images/mouse-scroll-w-icon.png"
           alt=""
           style=""
           data-duration="512"
           data-ease="easeOutQuint"
           data-type="image"
           data-action="scrollToEnd"
           data-offset-x="0"
           data-offset-y="20"
           data-origin="bc"
           data-position="normal" />
    </div>
    <div class="ms-slide fullwidth-layers" data-delay="7.5" data-fill-mode="fill">
      <img src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif" alt="" title="" data-src="sliders/master-slider/modern-sliders/Creativity/images/mscrtvi-background-slide-4.jpg" />
      <img class="ms-layer msp-cn-121-3"
           src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif"
           data-src="sliders/master-slider/modern-sliders/Creativity/images/mscrtvi-cupinhand-slide-4.png"
           alt=""
           style=""
           data-effect="t(false,35,550,n,15,n,n,n,n,n,n,n,n,n,n)"
           data-duration="4000"
           data-delay="1625"
           data-ease="easeInOutQuart"
           data-parallax="3"
           data-type="image"
           data-offset-x="461"
           data-offset-y="-11"
           data-origin="bc"
           data-position="normal" />
      <img class="ms-layer msp-cn-121-4"
           src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif"
           data-src="sliders/master-slider/modern-sliders/Creativity/images/mscrtvi-book-slide-4.png"
           alt=""
           style=""
           data-effect="t(true,n,-250,n,-50,n,n,n,n,n,n,n,n,n,n)"
           data-duration="4000"
           data-delay="600"
           data-ease="easeOutQuart"
           data-parallax="2"
           data-type="image"
           data-offset-x="109"
           data-offset-y="-315"
           data-origin="mc"
           data-position="normal" />
      <img class="ms-layer msp-cn-121-5"
           src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif"
           data-src="sliders/master-slider/modern-sliders/Creativity/images/mscrtvi-watch-slide-4.png"
           alt=""
           style=""
           data-effect="t(true,-150,n,n,3,n,n,n,n,n,n,n,n,n,n)"
           data-duration="5000"
           data-delay="200"
           data-ease="easeOutQuart"
           data-parallax="1"
           data-type="image"
           data-offset-x="-21"
           data-offset-y="112"
           data-origin="tl"
           data-position="normal" />
      <img class="ms-layer msp-cn-121-2"
           src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif"
           data-src="sliders/master-slider/modern-sliders/Creativity/images/mscrtvi-handonkeyboard-slide-4.png"
           alt=""
           style=""
           data-effect="t(true,-30,10,n,n,n,n,n,n,n,n,n,n,n,n)"
           data-duration="5000"
           data-delay="1800"
           data-ease="easeOutQuart"
           data-parallax="1"
           data-type="image"
           data-offset-x="-69"
           data-offset-y="-30"
           data-origin="bl"
           data-position="normal" />
      <div class="ms-layer fs-100 msp-cn-121-16"
           style=""
           data-effect="t(true,n,-30,n,-25,n,n,n,2,2,n,n,n,n,n)"
           data-duration="2500"
           data-delay="1000"
           data-ease="easeOutQuint"
           data-parallax="3"
           data-offset-x="0"
           data-offset-y="2"
           data-origin="mc"
           data-position="normal">Good Design</div>
      <div class="ms-layer font-desc-24 msp-cn-121-18"
           style=""
           data-effect="t(true,n,30,n,-15,n,n,n,2,2,n,n,n,n,n)"
           data-duration="2500"
           data-delay="1400"
           data-ease="easeOutQuint"
           data-parallax="2"
           data-offset-x="0"
           data-offset-y="59"
           data-origin="mc"
           data-position="normal">is obvious. Great design is transparent.</div>
      <a href=""
         target="_self"
         class="ms-layer ms-btn ms-btn-circle ms-btn-n msp-preset-btn-132"
         data-delay="3000"
         data-ease="easeOutQuint"
         data-parallax="1"
         data-type="button"
         data-offset-x="0"
         data-offset-y="115"
         data-origin="mc"
         data-position="normal">Read more</a>
    </div>
    <div class="ms-slide" data-delay="7.5" data-fill-mode="fill">
      <img src="sliders/master-slider/modern-sliders/Creativity/images/blank.gif" alt="" title="" data-src="sliders/master-slider/modern-sliders/Creativity/images/mscrtvi-background-slide-1.jpg" />
      <div class="ms-layer msp-cn-121-7"
           style=""
           data-effect="t(true,n,n,n,-40,n,n,n,n,n,n,n,-20,n,n)"
           data-duration="3000"
           data-delay="200"
           data-ease="easeOutQuint"
           data-hide-effect="t(true,n,-100,n,n,n,n,n,n,n,n,n,n,n,n)"
           data-hide-duration="1500"
           data-hide-ease="easeInQuint"
           data-hide-time="5100"
           data-offset-x="0"
           data-offset-y="-140"
           data-origin="mc"
           data-position="normal">Creativity</div>
      <div class="ms-layer msp-cn-121-6"
           style=""
           data-effect="t(true,n,n,n,-40,n,n,n,n,n,n,n,110,n,n)"
           data-duration="3000"
           data-delay="400"
           data-ease="easeOutQuint"
           data-hide-effect="t(true,n,-100,n,n,n,n,n,n,n,n,n,n,n,n)"
           data-hide-duration="1500"
           data-hide-ease="easeInQuint"
           data-hide-time="5450"
           data-offset-x="0"
           data-offset-y="-69"
           data-origin="mc"
           data-position="normal">is intelligence having fun.</div>
      <a href=""
         target="_self"
         class="ms-layer ms-btn ms-btn-circle ms-btn-n msp-preset-btn-132"
         data-duration="1812"
         data-delay="2162"
         data-ease="easeOutQuint"
         data-hide-effect="fade"
         data-hide-duration="1675"
         data-hide-ease="easeOutQuint"
         data-hide-time="6136"
         data-type="button"
         data-offset-x="0"
         data-offset-y="-6"
         data-origin="mc"
         data-position="normal">read more</a>
    </div>
  </div>
  <!-- END MasterSlider Main -->
</div>
<!-- END MasterSlider -->

<div class="page-inner p-none t-bordered">

  <section class="section-primary b-bordered main-color">
    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <div class="feature-box left-icon-v2">
            <i class="icon-window-favorite-1 v-icon icn-holder fs-40"></i>
            <div class="feature-box-text ml-65">
              <h3>Super Faster</h3>
              <div class="feature-box-text-inner">
                <p>
                  Vestibule corvallis pulvinar tellus eget ultricies. Sed sollicitudin, tellus sem vitae elementum feature euismod.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-box left-icon-v2">
            <i class="icon-layers v-icon icn-holder fs-40"></i>
            <div class="feature-box-text ml-65">
              <h3>Extensive Options</h3>
              <div class="feature-box-text-inner">
                <p>
                  Vestibule corvallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-box left-icon-v2">
            <i class="icon-check-2 v-icon icn-holder fs-40"></i>
            <div class="feature-box-text ml-65">
              <h3>Unique Features</h3>
              <div class="feature-box-text-inner">
                <p>
                  Vestibule corvallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="invisible medium" />

      <div class="row">
        <div class="col-sm-4">
          <div class="feature-box left-icon-v2">
            <i class="icon-layers v-icon icn-holder fs-40"></i>
            <div class="feature-box-text ml-65">
              <h3>Fully Responsive</h3>
              <div class="feature-box-text-inner">
                <p>
                  Vestibule corvallis pulvinar tellus eget ultricies. Sed sollicitudin, semdote vitae elementum euismodor feature.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-box left-icon-v2">
            <i class="icon-diamond v-icon icn-holder fs-40"></i>
            <div class="feature-box-text ml-65">
              <h3>Stunning Design</h3>
              <div class="feature-box-text-inner">
                <p>
                  Vestibule corvallis pulvinar tellus eget ultricies. Sed feature sollicitudin, sem vitae elementum feature euismod.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-box left-icon-v2">
            <i class="icon-brush-2 v-icon icn-holder fs-40"></i>
            <div class="feature-box-text ml-65">
              <h3>Unique Features</h3>
              <div class="feature-box-text-inner">
                <p>
                  Vestibule corvallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-primary alternate-color b-bordered">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12 text-center">
          <h1 class="mb-5"><span>Recent Works. </span></h1>
          <p class="section-sub-title mb-30">
            Join The Ultimate And Awesome Experience
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="carousel-wrap mb-30">

            <div class="owl-carousel staged-carousel" data-plugin-options='{"items": 3, "stagePadding": 180, "singleItem": false, "autoPlay": true, "margin":20, "dots":true}'>
              <div class="item exp-animation" data-animation="bottom-to-top" data-delay="200">
                <figure class="animated-overlay overlay-alt">
                  <img src="img/portfolio/p1.jpg" />
                  <a href="portfolio-single.html" class="link-to-post"></a>
                  <figcaption>
                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                  </figcaption>
                </figure>
                <div class="portfolio-item-info">
                  <h3 class="portfolio-item-title">
                    <a href="portfolio-single.html" class="link-to-post">Suspendisse Euismod</a>
                  </h3>
                </div>
              </div>

              <div class="item exp-animation" data-animation="bottom-to-top" data-delay="400">
                <figure class="animated-overlay overlay-alt">
                  <img src="img/portfolio/p4.jpg" />
                  <a href="portfolio-single.html" class="link-to-post"></a>
                  <figcaption>
                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                  </figcaption>
                </figure>
                <div class="portfolio-item-info">
                  <h3 class="portfolio-item-title">
                    <a href="portfolio-single.html" class="link-to-post">Cras Aliquam</a>
                  </h3>
                </div>
              </div>

              <div class="item exp-animation" data-animation="bottom-to-top" data-delay="600">
                <figure class="animated-overlay overlay-alt">
                  <img src="img/portfolio/p3.jpg" />
                  <a href="portfolio-single.html" class="link-to-post"></a>
                  <figcaption>
                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                  </figcaption>
                </figure>
                <div class="portfolio-item-info">
                  <h3 class="portfolio-item-title">
                    <a href="portfolio-single.html" class="link-to-post">Mauris Quis Sapien</a>
                  </h3>
                </div>
              </div>

              <div class="item exp-animation" data-animation="bottom-to-top" data-delay="800">
                <figure class="animated-overlay overlay-alt">
                  <img src="img/portfolio/p6.jpg" />
                  <a href="portfolio-single.html" class="link-to-post"></a>
                  <figcaption>
                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                  </figcaption>
                </figure>
                <div class="portfolio-item-info">
                  <h3 class="portfolio-item-title">
                    <a href="portfolio-single.html" class="link-to-post">Proin Faucibus</a>
                  </h3>
                </div>
              </div>

              <div class="item exp-animation" data-animation="bottom-to-top" data-delay="1000">
                <figure class="animated-overlay overlay-alt">
                  <img src="img/portfolio/p2.jpg" />
                  <a href="portfolio-single.html" class="link-to-post"></a>
                  <figcaption>
                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                  </figcaption>
                </figure>
                <div class="portfolio-item-info">
                  <h3 class="portfolio-item-title">
                    <a href="portfolio-single.html" class="link-to-post">Fringilla Suscipit</a>
                  </h3>
                </div>
              </div>

              <div class="item exp-animation" data-animation="bottom-to-top" data-delay="1200">
                <figure class="animated-overlay overlay-alt">
                  <img src="img/portfolio/p5.jpg" />
                  <a href="portfolio-single.html" class="link-to-post"></a>
                  <figcaption>
                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                  </figcaption>
                </figure>
                <div class="portfolio-item-info">
                  <h3 class="portfolio-item-title">
                    <a href="portfolio-single.html" class="link-to-post">Vivamus Tristique</a>
                  </h3>
                </div>
              </div>
            </div>

            <div class="customNavigation">
              <a class="prev"><i class="fa fa-angle-left"></i></a>
              <a class="next"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-12">
          <a class="btn standard lightgrey btn-icon-reveal item-shadow-2x" href="#">
            <i class="fa fa-star-o"></i>
            <span class="text">VIEW ALL PROJECTS</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-primary main-color b-bordered">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">
          <h1 class="mb-5"><span>Litle Bit About Us</span></h1>
          <p class="section-sub-title mb-30">
            Join The Ultimate And Awesome Experience
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">

          <div class="tab-wrap">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#About" role="tab"><span><i class="icon-layers-1"></i> About Us</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Services" role="tab"><span><i class="fa fa-diamond"></i> How We Work</span></a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="About" role="tabpanel">

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                  gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et,
                  interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare
                  nisi, vitae mattis nulla ante id dui. Ut lectus purus, commodo et tincidunt vel,
                  interdum sed lectus.
                </p>

                <a href="#" class="read-more">Read More</a>
              </div>
              <div class="tab-pane" id="Services" role="tabpanel">
                <h3 class="mb-10">Services</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et turpis at eros blandit molestie.
                  Sed cursus, mi et vulputate suscipit, nisi urna rhoncus neque, non tincidunt ipsum felis gravida ex.
                  Vestibulum et eros id lorem iaculis tempor. Ut eget diam sit amet sapien elementum varius.
                  Suspendisse vestibulum, justo vitae aliquam tristique, lorem eros egestas dolor, sed
                  finibus neque urna ut sem. Ut consectetur mi a velit accumsan, et maximus turpis suscipit.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">

          <div class="accordion v4" id="accordion5" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne5">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion5" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5">
                    <i class="ion-android-mail"></i> Our Process
                    <span class="label label-primary pull-right mr-10">5 Items</span>
                  </a>
                </h5>
              </div>

              <div id="collapseOne5" class="collapse show" role="tabpanel" aria-labelledby="headingOne5">
                <div class="card-block">
                  <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high
                    life accusamus terry richardson ad squid. 5 wolf moon
                    officia aute, non cupidatat skateboard dolor brunch.
                    Food truck quinoa nesciunt laborum eiusmod tempor, sunt aliqua
                  </p>
                  <a href="#" class="read-more">See More</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo5">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                    <i class="fa fa-battery"></i> Our Service
                  </a>
                </h5>
              </div>
              <div id="collapseTwo5" class="collapse" role="tabpanel" aria-labelledby="headingTwo5">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 5 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 5 wolf moon tempor, sunt aliqua
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree5">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                    <i class="fa fa-folder-open"></i> Case Stadies
                  </a>
                </h5>
              </div>
              <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 5 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 5 wolf moon tempor, sunt aliqua
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 testimonials v2">

          <div class="testimonial-five">

            <div class="carousel-wrap">

              <div class="owl-carousel" data-plugin-options='{"items": 1, "singleItem": true, "autoPlay": true, "margin": 0}'>

                <div class="item">

                  <blockquote>
                    <p>
                      Lorem ipsum dolor sit amet, consecte elitad adipiscing Cras non placer
                      ipsum dolor sit amet, consectetur elitad Cras non placerat mi.
                      ipsum dolor sit amet, consecte elitad adipiscing Cras non placer
                      Anim pariatu rcliche reprehenderit, enim eiusmod high life accusamus terry richardson.
                    </p>
                  </blockquote>

                  <div class="testimonial-author clearfix">
                    <div class="testimonial-author-thumbnail">
                      <img class="img-responsive img-circle" src="img/avatars/a5.jpg" alt="JOHN SMITH">
                    </div>
                    <p>
                      <strong>JOHN SMITH</strong><span>CEO &amp; Founder</span>
                    </p>
                  </div>
                </div>

                <div class="item">

                  <blockquote>
                    <p>
                      Lorem ipsum dolor sit amet, consecte elitad adipiscing Cras non placer
                      ipsum dolor sit amet, consectetur elitad Cras non placerat mi.
                      ipsum dolor sit amet, consecte elitad adipiscing Cras non placer
                      ipsum dolor sit amet, consectetur elitad Cras non placerat mi.
                    </p>
                  </blockquote>

                  <div class="testimonial-author clearfix">
                    <div class="testimonial-author-thumbnail">
                      <img class="img-responsive img-circle" src="img/avatars/a1.jpeg" alt="JOHN SMITH">
                    </div>
                    <p>
                      <strong>JOHN SMITH</strong><span>CEO &amp; Founder</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-primary pt-140 pb-140 v-parallax bg-stylish" style="background-image: url(img/new/n7.jpg);" id="services">
    <div class="container">
      <div class="row">

        <div class="col-md-12">

          <h4 class="fs-36 fw-3 text-white">
            No coding or design skills required... It's time <br />
            to create something special easy.
          </h4>

          <hr class="invisible" />

          <a class="btn standard white mb-none btn-rounded" href="#"><i class="fa fa-diamond"></i> See The Features</a>
          <a class="btn standard transparent-light mb-none btn-rounded" href="#"><i class="fa fa-shopping-basket"></i> Purchase Express</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-primary b-bordered">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <h2 class="section-title fs-28">One Vision</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            Sed dui lorem, adipiscing in patent per inceptos vestibule laoreet interdum <br /> pellentesque.
          </p>

          <p>
            Adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.
          </p>

          <a href="#">More about the team</a>
        </div>

        <div class="col">

          <div class="team-member v2">
            <div class="member-photo">
              <img class="img-responsive" src="img/team/team02.jpg" />
            </div>
            <div class="member-info">
              <div class="share">
                <i class="fa fa-share-alt"></i>
                <div class="share-icons background-color-light">
                  <a href="#" class="text-decoration-none" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="text-decoration-none" title="Share on Instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="text-decoration-none" title="Share on Linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <div class="member-name">
                <h3 class="name">Michael Feldstein</h3>
              </div>
              <div class="member-position">
                <span>Marketing</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col">

          <div class="team-member v2">
            <div class="member-photo">
              <img class="img-responsive" src="img/team/team6.jpg" />
            </div>
            <div class="member-info">
              <div class="share">
                <i class="fa fa-share-alt"></i>
                <div class="share-icons background-color-light">
                  <a href="#" class="text-decoration-none" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="text-decoration-none" title="Share on Instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="text-decoration-none" title="Share on Linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <div class="member-name">
                <h3 class="name">Kate Brown</h3>
              </div>
              <div class="member-position">
                <span>Designer</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col">

          <div class="team-member v2">
            <div class="member-photo">
              <img class="img-responsive" src="img/team/team5.jpg" />
            </div>
            <div class="member-info">
              <div class="share">
                <i class="fa fa-share-alt"></i>
                <div class="share-icons background-color-light">
                  <a href="#" class="text-decoration-none" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="text-decoration-none" title="Share on Instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="text-decoration-none" title="Share on Linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <div class="member-name">
                <h3 class="name">William Richardson</h3>
              </div>
              <div class="member-position">
                <span>Web Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tiny cta cta-dark pt-15 pb-15">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cta-inner">
            <div class="cta-content text-center" style="width:inherit;">
              <h3 class="fw-5">High quality <strong class="fw-6">Bootstrap 4</strong> templates for your next web project.</h3>
            </div>
            <div class="cta-btn">
              <a href="https://wrapbootstrap.com/theme/express-responsive-bootstrap-template-WB0TR1711" target="_blank" class="btn btn-outline-white ml-20">Buy Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section-primary b-bordered">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h1 class="mb-5"><span>Latest From The Blog</span></h1>
          <p class="section-sub-title mb-30">
            Join The Ultimate And Awesome Experience
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3">

          <div class="recent-post has-thumb clearfix">
            <div class="figure-wrap">
              <div class="date-overlay narrow-date-block">
                <span class="month">Sep</span><span class="day">01</span>
              </div>
              <figure class="animated-overlay overlay-alt">
                <div class="img-wrap">
                  <img src="img/main/bus-3.jpg" alt="Sharp looks for 2018">
                </div>
                <a href="#" class="link-to-post"></a>
                <div class="figcaption-wrap">
                </div>
                <figcaption>
                  <div class="thumb-info thumb-info-alt">
                    <i class="fa fa-align-right"></i>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="details-wrap">
              <h5>
                <a href="#" class="link-to-post">Sharp looks for 2018</a>
              </h5>
              <div class="blog-item-details">
                                 <span class="author">
                                    By <a href="#" rel="author" itemprop="author">Express</a>
                                 </span> / <span>3 Comments</span>
              </div><div class="excerpt">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida urna varius…</p>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">

          <div class="recent-post clearfix">
            <div class="figure-wrap">
              <div class="date-overlay narrow-date-block">
                <span class="month">Mar</span><span class="day">27</span>
              </div>
              <figure class="animated-overlay overlay-alt">
                <div class="thumb-slider">
                  <div class="carousel-wrap">
                    <div class="owl-carousel owl-theme" data-plugin-options='{"items":1, "singleItem": true, "dots":false, "autoPlay": true}'>
                      <div>
                        <img alt="" class="img-responsive" src="img/main/bus-7.jpg">
                      </div>
                      <div>
                        <img alt="" class="img-responsive" src="img/main/bus-2.jpg">
                      </div>
                    </div>
                    <div class="customNavigation">
                      <a class="prev"><i class="fa fa-angle-left"></i></a>
                      <a class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
            <div class="details-wrap">
              <h5>
                <a href="#" class="link-to-post">Gallery Post</a>
              </h5>
              <div class="blog-item-details">
                                 <span class="author">
                                    By <a href="#" rel="author" itemprop="author">Express</a>
                                 </span> / <span>2 Comments</span>
              </div>
              <div class="excerpt">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus posuere mattis ligula posuere.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">

          <div class="recent-post has-thumb clearfix">
            <div class="figure-wrap">
              <div class="date-overlay narrow-date-block">
                <span class="month">Sep</span><span class="day">01</span>
              </div>
              <figure class="animated-overlay overlay-alt">
                <div class="img-wrap">
                  <img src="img/blog/bm.jpg" alt="Sharp looks for 2018">
                </div>
                <a href="#" class="link-to-post"></a>
                <div class="figcaption-wrap">
                </div>
                <figcaption>
                  <div class="thumb-info thumb-info-alt">
                    <i class="fa fa-align-right"></i>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="details-wrap">
              <h5>
                <a href="#" class="link-to-post">Increasing Productivity</a>
              </h5>
              <div class="blog-item-details">
                                 <span class="author">
                                    By <a href="#" rel="author" itemprop="author">Express</a>
                                 </span> / <span>3 Comments</span>
              </div><div class="excerpt">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida urna varius…</p>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">

          <div class="recent-post has-thumb clearfix">
            <div class="figure-wrap">
              <div class="date-overlay narrow-date-block">
                <span class="month">Sep</span><span class="day">01</span>
              </div>
              <figure class="animated-overlay overlay-alt">
                <div class="img-wrap">
                  <img src="img/custom/Business-Single-image-3.jpg" alt="Sharp looks for 2018">
                </div>
                <a href="#" class="link-to-post"></a>
                <div class="figcaption-wrap">
                </div>
                <figcaption>
                  <div class="thumb-info thumb-info-alt">
                    <i class="fa fa-align-right"></i>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="details-wrap">
              <h5>
                <a href="#" class="link-to-post">Sharp looks for 2018</a>
              </h5>
              <div class="blog-item-details">
                                 <span class="author">
                                    By <a href="#" rel="author" itemprop="author">Express</a>
                                 </span> / <span>3 Comments</span>
              </div><div class="excerpt">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida urna varius…</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <hr class="invisible">
          <a class="btn standard grey btn-rounded" href="#"><span class="text"><i class="fa fa-eye ml-0"></i> View Our Works</span></a>
          <button type="button" class="btn btn-outline-primary btn-rounded"><i class="fa fa-eye ml-0"></i> See Our Features</button>
        </div>
      </div>
    </div>
  </div>
</div>