<div class="center jumbotron">
  <h1>暴力入门，成为下一个想要的自己</h1>
  <h2>
    Python 入门课，现已开放报名
  </h2>
  <%= link_to "开始学习!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "上期学员心得", signup_path %>
</div>

<h2>我们重新定义编程教育</h2>
<p>有学以认知心理学为基石，打破过去传统刻板的编程学习、培训途径，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。</p>
<h2>人人可学的在线教育平台</h2>
<h3>万元课程免费学</h3>
<p>有学致力于为提高学员的生产力，暴力入门任何新领域。</p>
<h3>教材简明易懂</h3>
<p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>
<h3>业界大神倾心分享</h3>
<p>大神与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>

<div class="center jumbotron">
  <h2>
    Python 入门课，现已开放报名
  </h2>
  <%= link_to "开始学习!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "上期学员心得", signup_path %>
</div>