<div class="welcome-box">
  <!--===== 大图 =====-->
  <section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="intro" class="carousel slide" >

          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= image_tag("home/intro1.jpg") %> <!-- 图片位置 -->
                <div class="carousel-caption">
                  <h1>暴力入门，成为下一个想要的自己</h1> <!-- 标题 -->
                  <p>Python 入门课，现已开放报名</p> <!-- 内文 -->
                  <%= link_to('开始学习!', signup_path, class:'btn btn-push') %>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="story-box bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag("home/left.jpg", class:"img-responsive center-block", alt:"intro") %>
        </div>

        <div class="col-md-7">
          <div class="intro-description">
            <h2>人人可学的教育平台</h2>
            <p>
              有学以认知心理学为基石，打破过去传统刻板的编程学习、培训途径，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。
            </p>

            <ul class="list-unstyled points">
              <li>
                <span>
                    <i class="fa fa-star"></i>
                </span>
                我们以班级为单位公布所有学员就业薪资
              </li>
              <li>
                <span>
                    <i class="fa fa-star"></i>
                </span>
                不标榜明星学员，因为人人都是就业明星
              </li>
              <li>
                <span>
                    <i class="fa fa-star"></i>
                </span>
                每入学10名学员，就有7名来自老学员推荐
              </li>
              <li>
                <span>
                    <i class="fa fa-star"></i>
                </span>
                不忘初心，向千万学子免费分享学习资源
              </li>
            </ul> <!-- end of /.points -->

            <a href="#" class="btn btn-black">
              教师团队
            </a> <!-- /purchase button -->
          </div> <!-- end of /.intro-description -->
        </div>
      </div>
    </div> <!-- end of /.container -->
  </section>

  <!--===== 立即购买 =====-->
  <section class="push-box">
    <%= link_to('立即购买', '#', class:'btn btn-push') %>
  </section>
</div>