<%= provide(:title, "教学团队") %>
<h2>教学团队</h2>

张小学
<hr/>
<h2>知名 Python 教练，Python 吉尼斯奖得主</h2>
有学／Leading 创始人
Python／敏捷开发／Growthhack 专家及讲师

著作：
《Python 实战测试技术》
《Python 入门三十讲》

专栏：
《Pythone 每日十五分》


林小学
<h2>Python / Vue 大神</h2>
PythonGame 创始人
PythonConf Shanghai 创办人
多次 PythonConf 大会讲者

著作：
《leanr python as a game》