<section class="work-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag @work.image %>
      </div>
      <div class="col-md-3">
        <%= @work.name %>
        <%= @work.description %>
      </div>
    </div>
  </div>
</section>