<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <hr/>
    <h3>我的徽章</h3>
    <h3>比赛作品</h3>
    <h3>学习作业</h3>
  </aside>
</div>