<% provide(:page_id, "course-show-page") %>

<%= render 'shared/course_nav' %>

<section class="course-show">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="content">

        <div class="header">
          <h4>当前进度</h4>
          <p>总共2个作业，已完成2个。</p>
          <div class="bar">
            <div class="progress">
              <div class="percent">60%</div>
            </div>
          </div>
        </div>

        <div class="syllabus">
          <table class="table">
            <% @course.syllabuses.each do |s| %>
              <thead>
                <tr>
                  <th>
                    <h3><%= s.name %></h3>
                    <div class="far fa-clock">
                      预计学习时间: 2小时以内
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% s.posts.each do |p| %>
                  <tr>
                    <td>
                      <div class="post">
                        <i class="fa fa-circle"></i>
                        <%= link_to p.name, post_path(p) %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>