/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*
# 1. Global [60]
    1.1 Font [66]
    1.2 Common [74]
    1.3 Pagination [90]
    1.4 Button [111]
    1.5 Form [124]
    1.6 Section & Headline [233]
    1.7 Navbar [322]
    1.8 Header [356]
    1.9 Footer [408]
# 2. Home page [656]
		2.1 Header [660]
		2.2 Intro [711]
		2.3 Feature [748]
		2.4 Portfolio [786]
		2.5 Twitter feed [848]
		2.6 Pricing [922]
		2.8 Testimonial [991]
*/

/*================================================================
							1. Global
==================================================================*/
$gray-body: #666;
$gray-footer: #333;

body {
  overflow-x: hidden; //裁切页面内容，超出视窗不显示
  letter-spacing: 1px; //文字间距
  font-size: 14px; //文字大小
  position: relative; //设定为相对位置
  color: #666;

  a {
    text-decoration: none !important; //文字连结移除底线
  }

  /*===== 背景颜色 ======*/
  .bg-white {
    background-color: #ffffff;
  }

  .bg-light-gray {
    background-color: #f9f9f9;
  }

  /*===== 宽度 ======*/
  .width-25 {
    width: 25%;
  }

  .width-50 {
    width: 50%;
  }

  .width-75 {
    width: 75%;
  }

  .width-100 {
    width: 100%;
  }

  /*===== bootstrap 栅格系统居中 =====*/
  .col-center {
    margin: 0 auto;
    float: none;
  }
}

/* =-=--=-=-=-=-=-==-=-=-=-  1.1 Navbar 导航   -=-=-=-==-=-==-====-==-=-= */
.navbar-default {
  background: rgba(0, 0, 0, 0.5); //半透明背景
  border: none;

  /* 链接 */
  a {
    color: #fff !important;
  }

  a:hover,
  a:active,
  a:focus {
    color: #0070DE !important;
  }

  /*===== 导览列滑动特效 ======*/
  &.scroll_navbar {
    background-color: #fff; //背景颜色

    /* 链接 */
    a {
      color: #000 !important;
    }

    a:hover,
    a:active,
    a:focus {
      color: #0070DE !important;
    }
  }

  /*===== Logo ======*/
  .logo-box {
    margin-right: 15px;
    font-size: 20px;
  }

  /*===== Dropdown ======*/
  .dropdown-menu {
    background-color: #fff;
    min-width: 175px;

    /* 链接 */
    a {
      color: #000 !important;
      padding: 8px 17px;
    }

    a:hover {
      background-color: #f0f0f0;
      color: #0070DE !important;
    }
  }

  /* 下拉选单三角箭头 */
  .dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
  }

  /* 搜索框 */
  .search-box {
    margin-top: 7.5px;

    input {
      height: 35px;
    }

    button {
      padding: 5px 10px 5px 10px;
      height: 35px;
    }
  }
}

/* =-=--=-=-=-=-=-==-=-=-=-  1.2 Footer 页脚   -=-=-=-==-=-==-====-==-=-= */
footer {
  /* 通用 */
  //text-align: center;
  min-height: 175px; //最小高度
  background-color: $gray-footer;
  padding: 100px 0;
  font-size: 12px;
  color: #fff;

  h4 {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #fff;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #ddd;
  }

  a:hover,
  a:active,
  a:focus {
    color: #0070DE;
  }

  /* 动态 */
  .footer-news {
    margin-bottom: 35px;
    padding-right: 45px;

    p {
      margin-bottom: 5px;
      margin-top: -4px;
      line-height: 1.45em;
    }

    .news-date {
      margin-top: -2px;
      color: #969595;
      font-size: 10px;
    }
  }

  /* 加入 */
  .input-group {
    margin-right: 40px;
  }

  .footer-join {
    margin-top: 10px;

    input {
      margin-right: 40px;
      font-size: 12px;
      height: 30px;
    }

    button {
      padding: 5px 8px 5px 8px;
      height: 30px;
    }
  }

  /* 帮助 */
  .footer-share-button {
    li {
      display: inline;

      i {
        background-color: #4a4a4a;
        color: #6b6b6b;
        font-size: 13px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        width: 30px;
        border-radius: 8px;
      }

      i:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

/* =-=--=-=-=-=-=-==-=-=-=-  1.4 Button   -=-=-=-==-=-==-====-==-=-= */
.btn {
  border-radius: 5px;
  padding: 0.57em 1.9em;
  color: #fff;
  /* 显示特效 */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: #fff;
  }
}

.btn-black {
  background-color: #666;

  &:hover {
    background-color: #999;
  }
}

.btn-push {
  font-size: 1.4em;
  //border: 1px solid #000;
  background-color: #31dae2; //rgba(0, 0, 0, 0.5); 半透明背景 #31dae2 #32d6ef
  color: #fff;

  &:hover {
    background-color: #72f1ff;
    border: 1px solid #72f1ff;
  }
}

/*================================================================
							2. Home page
==================================================================*/

/*-------------------------  2.1 首页通用 ------------------------------*/
.welcome-box {
  /* 副标题 */
  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  /* 短分隔线 */
  .short-line {
    background: #0070DE;
    margin: 15px auto 30px auto;
    width: 150px;
    height: 1.5px;
  }
}

/*-------------------------  2.2 Intro 大图轮播 ------------------------------*/
#header {
  background: url(home/intro1.jpg) no-repeat center center; /*原图：slider1.jpg*/
  background-attachment: fixed; //图片位置固定
  background-size: cover; //图片全屏（另一种 contain）
  display: table;
  height: calc(100vh - 10px); //图片总高度
  width: 100%;

  .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    .welcome-speech {
      margin-top: 7em;

      h1 {
        color: #666;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 6px;
        text-transform: uppercase;
      }

      p {
        color: #666;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 20px 0 40px 0;
      }
    }
  }
}

/*-------------------------  2.3 品牌介绍 ------------------------------*/
.intro {
  padding: 5.6em 0; //区块间隔
  img:hover {
    opacity: 0.6;
  }

  .intro-description {
    @media (max-width: 991px) and (min-width: 700px) { //控制小屏幕时，左右间距
      padding-left: 60px;
    }
    padding-left: 40px;

    h2 {
      font-size: 30px;
      margin-top: -10px;
      text-transform: uppercase;
      color: #555;
      @media (max-width: 991px) { //控制小屏幕时，上下间距
        margin-top: 1.414em;
      }
    }

    p {
      font-size: 14px;
      padding: 2px 60px 5px 0px;
      color: #969595;
    }

    .points {
      padding: 0px;

      li {
        margin-bottom: 10px;

        span {
          margin-right: 10px;
        }
      }
    }

    .btn {
      margin-top: 20px;
    }
  }
}

/*-------------------------  2.4 服务优势 ------------------------------*/
.service-box {
  /* 区块 */
  text-align: center;
  padding: 25px 62.5px 50px 62.5px; //区块间隔

  /* 图片 */
  img {
    width: 100px;
  }

  /*===== 内容区块 =====*/
  .box {
    margin: 0 25px 0 25px;

    /* 标题 */
    h3 {
      font-size: 18px;
    }

    /* 内文 */
    p {
      color: #666;
      line-height: 24px;
      margin-top: 25px;
      text-align: justify;
    }
  }
}

/*-------------------------  2.5 商品分类 ------------------------------*/
.categories-box {
  /* 区块 */
  background-color: #fff;
  text-align: center;

  /* 图片 */
  img {
    width: 300px;
  }

  /*===== Content 分类內容 =====*/
  .category-content {
    padding: 50px 0 0 0;

    /* 标题 */
    h3 {
      padding: 20px 0 20px 0;
      font-size: 18px;
    }

    /* 内文 */
    p {
      padding: 0 62.5px 50px 62.5px;
      text-align: justify;
      color: #666;
    }
  }
}

/*-------------------------  2.6 推荐商品 ------------------------------*/
.show-box {
  /* 区块 */
  text-align: center;
  padding: 50px 0;

  /* 图片 */
  img {
    width: 100%;
  }

  /* 图片区块 */
  .box {
    margin-top: 15px;
    box-shadow: 2px 2px 5px #888;

    &:hover {
      opacity: 0.6;
    }
  }

  /* 文字区块 */
  .content {
    margin-top: 15px;
    color: #666;
  }
}

/*-------------------------  2.7 用户反馈 ------------------------------*/
.feedback-box {
  /* 区块 */
  background-color: #fff;
  text-align: center;
  padding: 50px 0 125px 0;

  /* 标题 */
  strong {
    margin-top: 25px;
    color: #4A6BB5;
  }

  /* 图片 */
  img {
    width: 80px;
    margin: 0 auto 25px auto;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  /* 文字 */
  p {
    color: #666;
    max-width: 550px;
    margin: 0 auto 25px auto;
  }

  /* 按钮设置 */
  .carousel-indicators {
    bottom: -70px; //按钮位置

    /* 按钮 */
    li {
      background-color: #ddd;
      height: 12.5px;
      width: 12.5px;
      margin: 0 5px;
      border-radius: 0;

      /* 按钮转向45度 */
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    /* 按钮-启动效果 */
    li.active {
      background-color: #4A6BB5;
    }
  }
}

/*-------------------------  2.8 合作品牌 ------------------------------*/
.brand-box {
  /* 区块 */
  text-align: center;
  padding: 50px 0;

  /* 图片 */
  img {
    margin: 10px 15px;
    width: 150px;
  }
}

/*-------------------------  2.9 立即购买 ------------------------------*/
.push-box {
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: image_url("header/h4.jpg") no-repeat scroll top center/ cover; //背景图片
}

/*================================================================
							3. Courses Page
==================================================================*/

/* =-=--=-=-=-=-=-==-=-=-=-  3.1 Courses Header   -=-=-=-==-=-==-====-==-=-= */
.course-header {
  text-align: center;
  padding: 90px 0 20px 0;
  background: image_url("header/h8.jpg") no-repeat scroll top center/ cover; //背景图片
  .user-avatar {
    z-index: 98;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }

  .vip-state {
    z-index: 99;
    margin-left: 79px;
    margin-top: -32px;

    img {
      width: 26px;
      height: 26px;
    }
  }

  p {
    font-size: 20px;
    margin-top: 10px;

    a {
      color: #fff;
    }
  }
}

.course-box {
  padding: 30px 20px;

  .course-content {
    /* 盒子效果 */
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25); //盒子边缘浮起效果
    display: table;                                //撑开盒子
    .course-tab {
      float: left;
      margin-bottom: 30px;
      width: 100%;
      height: auto;
      display: block;
      padding: 0;
      position: relative;
      background-color: #f5f5f5;

      .nav-tabs li.active a {
        cursor: default;
        background-color: #31dae2;
        color: #fff;
      }

      .nav-tabs li a {
        line-height: 1.43;
        border: 0;
        border-radius: 0;
        color: #333;
        font-size: 1.14em;
        letter-spacing: 0.1em;
        padding: 14px 25px;
        margin: 0;
      }
    }

    .all-course {
      /*位置*/
      margin: 0 auto;
      overflow: auto;
      /*形状*/
      min-width: 200px;
      max-width: 960px;
      /*第一步：设置一行图片的总大小*/
      @media(min-width: 1221px){width: 840px}
      @media(max-width: 1220px){width: 780px}
      @media(max-width: 1160px){width: 720px}
      @media(max-width: 1090px){width: 720px}
      @media(max-width: 980px){width: 690px}
      @media(max-width: 950px){width: 560px}
      @media(max-width: 770px){width: 560px}
      @media(max-width: 600px){width: 520px}
      @media(max-width: 560px){width: 320px}
      @media(max-width: 520px){width: 280px}
      .course-card-unlock {
        /*位置*/
        position: relative; /*最外层相对位置*/
        /*第二步：通过 margin 使图片居中*/
        @media(min-width: 1221px){margin: 15px 30px 40px;}
        @media(max-width: 1220px){margin: 15px 20px 40px;}
        @media(max-width: 1160px){margin: 15px 10px 40px;}
        @media(max-width: 1090px){margin: 15px 10px 40px;}
        @media(max-width: 980px){margin: 15px 5px 40px;}
        @media(max-width: 950px){margin: 15px 30px 40px;}
        @media(max-width: 770px){margin: 15px 30px 40px;}
        @media(max-width: 600px){margin: 15px 20px 40px;}
        @media(max-width: 560px){margin: 15px 50px 40px;}
        @media(max-width: 520px){margin: 15px 30px 40px;}
        /*形状*/
        height: 235px;
        width: 220px;
        float: left;
        background: #F4F4F4;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);

        .course-img img, .title, .title-cover, .block, a .start {
          width: 100%;
        }
        .course-img {
          /*位置*/
          position: absolute;
          z-index: 1;
          img {
            /*形状*/
            height: 160px;
          }
        }

        .title {
          /*位置*/
          position: absolute;
          z-index: 3;
          h3 {
            margin-top: 125px;
            font-size: 15px;
            color: #333;
            line-height: 40px;
            padding-left: 10px;
            letter-spacing: 1px;
            /*截断文字，用...结尾*/
            width: 210px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;  /*兼容IE*/
          }
        }

        .title-cover {
          /*位置*/
          position: absolute;
          z-index: 2;
          margin-top: 125px;
          /*形状*/
          height: 35px;
          /*样式*/
          background-color: rgba(225, 225, 225, 0.8);
        }

        .block {
          /*位置*/
          position: absolute;
          z-index: 2;
          margin-top: 160px;
          /*形状*/
          height: 70px;
          /*样式*/
          padding: 6px 10px;
          border-top: 1px solid #DEDEDE; /*分割线*/
          background-color: #f1f1f1;
          .time {
            font-size: 13px;
          }
          .bar {
            /*样式*/
            overflow: hidden;
            background-color: #ccc;
            height: 4px;
            width: auto;
            margin: 13px 0 5px;
            border-radius: 4px;
            .percent {
              width: 40%;
              height: 4px;
              background-color: #1ECD97;
            }
          }

          .task {
            font-size: 13px;
          }
        }

        a {
          .start {
            /*位置*/
            position: absolute;
            z-index: 5;
            top: 0;
            /*形状*/
            height: 235px;
            /*样式*/
            opacity: 0; /*隐藏元素（鼠标悬停前）*/
            background: rgba(101, 101, 101, 0.6);
            color: #fff;
            text-align: center;
            padding-top: 80px;
          }

          &:hover {
            .start {
              opacity: 1; /*显示元素（鼠标悬停前）*/
            }
          }
        }
      }
      .card-lock {
        /*位置*/
        position: relative; /*最外层相对位置*/
        /*形状（配合 boostrap 栅格，通过设置 margin 的值来控制图片宽度）*/
        @media(min-width: 1201px){margin: 0 15px 300px;}
        @media(max-width: 1200px){margin: 0 0 300px;}
        @media(max-width: 991px){margin: 0 40px 300px;}  /*平板屏幕宽度：768px（用767px是因为bootstrap栅格布局变化）*/
        @media(max-width: 900px){margin: 0 20px 300px;}
        @media(max-width: 767px){margin: 0 220px 300px;} /*平板屏幕宽度：768px（用767px是因为bootstrap栅格布局变化）*/
        @media(max-width: 700px){margin: 0 180px 300px;}
        @media(max-width: 650px){margin: 0 160px 300px;}
        @media(max-width: 600px){margin: 0 140px 300px;}
        @media(max-width: 550px){margin: 0 120px 300px;}
        @media(max-width: 500px){margin: 0 100px 300px;}
        @media(max-width: 450px){margin: 0 80px 300px;}  /*手机屏幕宽度：320-450px*/
        /*样式*/
        background: #F4F4F4;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);

        /* 形状（共用）*/
        .course-img img, .title, .title-cover, .block, a .start {
          width: 100%;
        }
        .course-img {
          /*位置*/
          position: absolute;
          z-index: 1;
          img {
            /*形状*/
            height: 160px;
          }
        }

        .title {
          /*位置*/
          position: absolute;
          z-index: 3;
          h3 {
            margin-top: 125px;
            font-size: 15px;
            color: #333;
            line-height: 40px;
            padding-left: 10px;
            letter-spacing: 1px;
            /*截断文字，用...结尾*/
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;  /*兼容IE*/
          }
        }

        .title-cover {
          /*位置*/
          position: absolute;
          z-index: 2;
          margin-top: 125px;
          /*形状*/
          height: 35px;
          /*样式*/
          background-color: rgba(225, 225, 225, 0.8);
        }

        .block {
          /*位置*/
          position: absolute;
          z-index: 2;
          margin-top: 160px;
          /*形状*/
          height: 70px;
          /*样式*/
          padding: 6px 10px;
          border-top: 1px solid #DEDEDE; /*分割线*/
          background-color: #f1f1f1;
          .time {
            font-size: 13px;
          }
          .bar {
            /*样式*/
            overflow: hidden;
            background-color: #ccc;
            height: 4px;
            width: auto;
            margin: 13px 0 5px;
            border-radius: 4px;
            .percent {
              width: 40%;
              height: 4px;
              background-color: #1ECD97;
            }
          }
          .task {
            font-size: 13px;
          }
        }

        a {
          .start {
            /*位置*/
            position: absolute;
            z-index: 5;
            top: 0;
            /*形状*/
            height: 235px;
            /*样式*/
            opacity: 0; /*隐藏元素（鼠标悬停前）*/
            background: rgba(101, 101, 101, 0.6);
            color: #fff;
            text-align: center;
            padding-top: 80px;
          }
          &:hover {
            .start {
              opacity: 1; /*显示元素（鼠标悬停前）*/
            }
          }
        }
      }
    }
  }
}
